* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}


.bl {
	background-color: #5684f2;
}




img.mt5 {
	width: 310px;
	height: 233px;
	display: block;
	margin: 5px auto;
}

.mt10 {
	margin-top: 10px;
}


.tit_t,
.sc_tit {
	display: block;
	height: 30px;
	line-height: 30px;
	width: 100%;
	color: #FFF;
	font-size: 14px;
}

.btn {
	height: 50px;
	width: 100px;
	background-color: #ff6600;
	text-align: center;
	display: block;
	text-decoration: none;
}

.place a {
	height: 30px;
	line-height: 35px;
	width: 70px;
}


.s_c li h4,
.sc_tit h4 {
	margin-left: 15px;
	font-size: 0.9em;
}

.tit_t h4 {
	margin-left: 15px;
}

.head_bg {
	padding: 16px 3px;
	text-align: right;
	position: relative;
	overflow: hidden;
	background: -webkit-linear-gradient(#85ceff, #ffffff);
	background-image: -moz-linear-gradient(top, #85ceff, #ffffff);
}


.footer_bg {
	background-image: -moz-linear-gradient(top, #ffffff, #85ceff);
	background: -webkit-linear-gradient(#ffffff, #85ceff);
	padding-bottom: 8px;

}

#footer ul,
#footer i {
	display: block;
	width: 310px;
	margin: 0 auto;
	text-align: center;

}

#footer ul li {
	display: inline;
	line-height: 40px;
	margin-right: 4px;
}

#footer ul li a {
	color: #6893f4;
}

#footer ul li a:hover {
	color: #ff6600;
	text-decoration: none;
}